<p>
      Copyright &copy <%= Time.now.year%>
      <%= link_to 'The Pragmatic Studio', 'https://online.pragmaticstudio.com' %>
      <%# mady in <a href="https://online.pragmaticstudio.com/">The pragmatic studio</a> %>
      </p>